<% if ['new', 'create'].include? controller.action_name %>
	<p><%= label_tag 'project[gitlab_create]', 'Gitlab Repository' %><%= check_box_tag 'project[gitlab_create]', 'true', false %></p>
	<% if !User.current.gitlab_token || User.current.gitlab_token.empty? %>
		<fieldset class="box tabular" id="gitlab_auth_form"><legend>Gitlab Auth</legend>
		<p><%= label_tag :gitlab_login, "Login" %><%= text_field_tag :gitlab_login, '' %></p>
		<p><%= label_tag :gitlab_pass, "Password" %><%= password_field_tag :gitlab_pass, '' %></p>
		<%= hidden_field_tag 'gitlab_url', Setting.plugin_gitlab_int['gitlab_url'] %>
		<%= button_tag 'Log In', type: 'button', name: :gitlab_auth, id: 'gitlab_auth' %>
		<div id="auth_status" class="flash"></div>
		</fieldset>
	<% end %>
	<fieldset class="box tabular" id="gitlab_fieldset"><legend>Gitlab Project</legend>
	<p><%= label_tag 'project[gitlab_name]', l(:field_name) %><%= text_field_tag 'project[gitlab_name]', '', size: 60 %></p>
	<p><%= label_tag 'project[gitlab_description]', l(:field_description) %><%= text_area_tag 'project[gitlab_description]', '',  rows: 8 %></p>
	<p>
	<%= label_tag 'project[visibility]', l(:visibility_level) %><br/>
	<%= radio_button_tag 'project[visibility]', 0, true, class: "right-radio" %>
	<%= label_tag 'project[visibility]_0', l(:visibility_private), class: "right-radio" %><br/>
	<%= radio_button_tag 'project[visibility]', 10, false, class: "right-radio" %>
	<%= label_tag 'project[visibility]_10', l(:visibility_internal), class: "right-radio" %><br/>
	<%= radio_button_tag 'project[visibility]', 20, false, class: "right-radio" %>
	<%= label_tag 'project[visibility]_20', l(:visibility_public), class: "right-radio" %>
	<%= hidden_field_tag 'project[gitlab_token]', User.current.gitlab_token %>
	</p>
	</fieldset>
<% end %>
