<h2>GitLab</h2>
<a href="<%= Setting.plugin_gitlab_int['gitlab_url'] %>" target="_blank"><h4><%= t(:gitlab_open) %></h4></a>
<%= render partial: "repository", collection: @repositories, locals: { project: @project.id } %>
<% content_for :header_tags do %>
    <%= javascript_include_tag 'repository', :plugin => 'gitlab_int' %>
<% end %>
<% if User.current.gitlab_token && !User.current.gitlab_token.empty? %>
	<div id="btns">
		<a class="flaticon-add add_btn"></a>
		<a class="flaticon-four four_btn"></a>
	</div>
	<div id="add_repository"><%= render partial: "add_repository", locals: { project: @project.id } %></div>
	<div id="create_repository"><%= render partial: "create_repository", locals: { project: @project.id } %></div>
<% end %>

